*{
	margin: 0px;
	padding: 0px;
}
body{
	text-align: center;
}
.calcu-section{
	background-color: black;
	width: 22%;
	height: 20rem;
	margin: auto;
	border-radius: 20px;

}
input[type="button"]
{
border-radius: 20px;
background-color:white;
color: black;
width:100%;
border: none;
height: 2.5rem;

}
input[type="button"]:hover
{

background-color:grey;
}


input[type="text"]
{
border-radius: 10px;
text-align: right;
background-color:white;
border: none;
width:100%
height: 2.5rem;

}

table{
	margin: auto;
}
tbody tr td{
	padding: 10px 10px;
}
